/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 10-02-2017, 14:13:15
    Author     : Fjord82
*/

@import url('https://fonts.googleapis.com/css?family=Taviraj');
@import url(http://fonts.googleapis.com/css?family=Raleway);

.root
{
    /*-fx-background-color: rgb(70, 120, 140);*/
    /*-fx-background-color: white;*/
    -fx-border-width: 1;
    -fx-border-color: rgb(173, 184, 209);
    -fx-font-family: 'Taviraj', serif;
}

#anchorpanelogin
{
    -fx-background-color: 
        linear-gradient(from 0% 93% to 0% 100%, #428bca 0%, #dfe3ee 100%),
        #428bca,
        #dfe3ee,
        radial-gradient(center 50% 50%, radius 100%, #428bca, #dfe3ee);
    -fx-text-fill: white;
    -fx-padding: 2 0 2 10;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );

}

.scroll-bar {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-padding: 2;
}
.scroll-bar .thumb {
    -fx-background-color: 
        linear-gradient(from 0% 93% to 0% 100%, #428bca 0%, #dfe3ee 100%),
        #428bca,
        #dfe3ee,
        radial-gradient(center 50% 50%, radius 100%, #428bca, #dfe3ee);
    -fx-background-insets: 0;
    -fx-background-radius: 0.5em;
}
.scroll-bar .track  {
    -fx-background-color: transparent;
    -fx-background-insets:  0;
    -fx-border-color: rgba(255,255,255,0.5);
    -fx-border-radius: 0.5em;
}
.scroll-bar .increment-button {
    -fx-background-color: null;
}

.text-field
{
    /*-fx-background-radius: 15px;*/
    /* -fx-background-color: rgb(79, 166, 175);*/
    /* -fx-border-radius: 15px;*/
    /*-fx-border-width: 2;*/
    /*-fx-border-color: rgb(173, 184, 209);*/
    -fx-text-fill: #a7adba;
    -fx-border-color: rgba(255, 255, 255, .80); 
    -fx-border-radius: 4;
    -fx-padding: 1 1 1 1;
    -fx-font: bold italic 10pt "LucidaBrightDemiBold";
}

.check-box
{
    -fx-text-fill: rgb(17, 145, 213); 
    -fx-border-color: rgba(255, 255, 255, .80); 
    -fx-border-radius: 8;
    -fx-padding: 2 2 2 2;
    -fx-font: bold italic 8pt "LucidaBrightDemiBold";
}


.button
{
    -fx-text-fill: rgb(17, 145, 213); 
    -fx-border-color: transparent; 
    -fx-border-radius: 15;
    -fx-padding: 6 6 6 6;
    -fx-font: bold italic 12pt "LucidaBrightDemiBold";
}

#arrowButton
{
    -fx-background-color: transparent;
}

#arrowButton:hover
{
    -fx-border-color: #ffbf00;
}

.table-view
{
    -fx-background-color: #f8f8fa;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
    -fx-border-width: 1;
    -fx-border-color: #428bca;
}

.table-view .column-header {
    -fx-background-color: #8b9dc3;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
}

.table-view .column-header .label:hover
{
    -fx-text-fill: #ffbf00;
}

.table-row-cell {
    -fx-background-color: #f8f8fa;

}

.table-row-cell:hover {
    -fx-background-color: 
        linear-gradient(from 0% 93% to 0% 100%, #dfe3ee 0%, #dfe3ee 100%),
        #dfe3ee,
        #dfe3ee,
        radial-gradient(center 50% 50%, radius 100%, #dfe3ee, #dfe3ee);
    -fx-effect: dropshadow( one-pass-box , rgba(255,255,255,0.5) , 0, 0.0 , 0 , 1);
}

.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: -fx-focus-color;
}

.table-view .column-header, table-view .filler {
    -fx-size: 18;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: transparent;
    -fx-border-color: transparent;

    -fx-border-insets: 0 10 1 0;
}

.table-view .column-header .label
{
    -fx-text-fill: rgb(17, 145, 213);
}


.button:focused
{
    -fx-background-color: #dfe3ee,
        white,
        #dfe3ee;
    -fx-text-fill: white;
}

.button-bar 
{
    -fx-background-color: #3b5998; 
    -fx-text-fill: white;
}

.button-bar .button 
{
    -fx-background-color: #3b5998;
    -fx-text-fill: white; 
}

.button-bar .button:hover
{
    /*-fx-background-color: linear-gradient(#dfe3ee 0%, #dfe3ee 25%, #dfe3ee 100%);*/
    -fx-text-fill: #ffbf00;
}

.menu-bar 
{
    -fx-background-color: #3b5998; 
    -fx-text-fill: white;
}

.menu-bar .label 
{
    /*-fx-background-color: #3b5998;*/
    -fx-text-fill: white; 
}

.menu-bar .label:hover
{
    /*-fx-background-color: linear-gradient(#dfe3ee 0%, #dfe3ee 25%, #dfe3ee 100%);*/

}

.menu:hover
{
    /*-fx-background-color: #dfe3ee;*/
    /*-fx-background-color: linear-gradient(#dfe3ee 0%, #dfe3ee 25%, #dfe3ee 100%);*/
}

.label
{
    -fx-text-fill: rgb(17, 145, 213); 
    -fx-padding: 0 0 0 0;
    -fx-font: bold italic 12pt "LucidaBrightDemiBold";
    /*-fx-font-size: 18px;*/
    /*-fx-text-fill: rgb(34, 50, 71);*/
}

#labellogin
{
    -fx-text-fill:white;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

#checkboxlogin
{
    -fx-text-fill:white;
    -fx-border-color: transparent;
}

#classlistlabel
{
    -fx-background-color:
        linear-gradient(from 0% 93% to 0% 100%, #428bca 0%, #dfe3ee 100%),
        #428bca,
        #dfe3ee,
        radial-gradient(center 50% 50%, radius 100%, #428bca, #dfe3ee);
    -fx-text-fill: white;
    -fx-padding:5 10 5 10;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

#comboclasslist 
{
    -fx-background-color: white;
    -fx-text-fill: -fx-text-base-color;
    -fx-prompt-color: white;
    -fx-border-color:transparent;
    -fx-background-radius: 8;
    -fx-border-radius: 8px;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );

}
#comboclasslist:hover 
{
    -fx-border-color: #ffbf00;

}

#searchfield
{
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

#statuslabel
{
    -fx-background-color: 
        linear-gradient(from 0% 93% to 0% 100%, #428bca 0%, #dfe3ee 100%),
        #428bca,
        #dfe3ee,
        radial-gradient(center 50% 50%, radius 100%, #428bca, #dfe3ee);
    -fx-text-fill: white;
    -fx-padding: 2 0 2 10;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

#counterlabel
{
    -fx-background-color: 
        linear-gradient(from 0% 93% to 0% 100%, #428bca 0%, #dfe3ee 100%),
        #428bca,
        #dfe3ee,
        radial-gradient(center 50% 50%, radius 100%, #428bca, #dfe3ee);
    -fx-text-fill: white;
    -fx-padding: 10 0 2 30;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

#LoginButton
{

    -fx-text-fill: rgb(17, 145, 213); 
    -fx-border-color: transparent; 
    -fx-border-radius: 15;
    -fx-padding: 2 2 2 2;
    -fx-font: bold italic 10pt "LucidaBrightDemiBold";
}

#wrongLoginLabel
{
    -fx-text-fill: rgb(255, 0, 0);
}

#viewnumberbox
{
    -fx-padding:0 5 10 5;
    -fx-background-color: transparent;
}

#numberlabel
{
    -fx-background-color:white;
    -fx-background-radius: 10;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );  
}

#numberlabel:focused
{
    -fx-background-color: greenyellow;
    
}

.pagination{
	-fx-base:#f7f7f7;
        -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 ); 
        
}
.pagination .toggle-button , .pagination.button{
	-fx-background-radius:10px;
	-fx-padding: 0px;
        -fx-text-fill: transparent;
}
.pagination .button{
	-fx-padding: 5 15 5 16px;
        -fx-background-color: #f7f7f7;
        -fx-text-fill: #3b5998;
        -fx-background-radius:10px;
         -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 ); 
}
.pagination .label {
	-fx-text-fill:transparent;
}
